# in questo caso essendo che a scuola abbiamo tutti lo stesso ambiente è uguale ma comunque nel gitignore inserisco solo l'env originale così si vedrà solo l'example
MYSQL_DATABASE=cybertracker
MYSQL_USER=cybertracker
MYSQL_PASSWORD=cyberpass
MYSQL_ROOT_PASSWORD=rootpass